/* Ensure the body takes up the full viewport height */
body, html {
  height: 100%;
  margin: 0;
 
}

/* Container for the login page */
.login-page {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Style for the form container */
.login-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  // background-color: #1d3557;
  background-image: url(https://res.cloudinary.com/dobrs3wqw/image/upload/v1730616980/auth_p21dyc.png);
  background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}

/* Form styling */
.login-form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-form-container input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.login-form-container button {
  margin-bottom: 1.2rem;
  padding: 10px;
  // background-color: #F7931E;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form-container button:hover {
  background-color: #2898a0;
}

/* Style for the image container */

// .login-image-container {
//   flex: 1;
//   background: url('https://images.pexels.com/photos/19012035/pexels-photo-19012035/free-photo-of-acer-nitro-gaming-mouse-with-rgb-backlight.jpeg?') no-repeat center center;
//   background-size: cover;
// }

// .register-page .login-image-container.register-image {
//   background: url('https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg') no-repeat center center;
//   background-size: cover;
// }

/* Responsive styling */
@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
  }

  .login-image-container {
    display: none; /* Hide the image on smaller screens */
  }
}
